<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>친구 목록</h2>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>NICK NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="friend : ${friends}">
                <td th:text="${friend.id}">친구 id</td>
                <td th:text="${friend.profile_nickname}">nick name</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
